<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/output.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <title>Force du Partage | Sakku Yiw, Actions Pour l'Espoir</title>
</head>
<body>
    <!-- Debut Header -->
    <header class=" top-0 z-10 ">
        <!-- Debut Bande Verte TopHeader -->
        <div class="w-full text-white bg-primary">
            <div class="mx-auto max-w-screen-lg md:flex justify-between hidden  text-sm">
                <div class="w-auto flex justify-start ">
                    <div class="flex justify-center items-center py-3 mr-10">
                        <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                        </svg>
                        <p>01 24 56 89 06</p>
                    </div>

                    <a href="mailto:sakkuyiw@gmail.com" class="flex justify-center items-center py-2">
                        <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                            <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                        </svg>
                        <p>sakkuyiw@gmail.com</p>
                    </a>
                </div>

                <div class="flex items-center ">
                    <a href="https://twitter.com/SAKKUYIW" target="_blank" class="mr-4">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/yiwsakku/" target="_blank" class="mr-4">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/sakkuyiw.actionpourlespoir" target="_blank" class="mr-4">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/user/SAKKUYIW" target="_blank">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z" clip-rule="evenodd"/>
                        </svg>
                    </a>

                </div>
            </div>
        </div>
        <!-- Fin Bande Verte TopHeader -->

        <!-- Debut Nav-bar -->
        <nav class="transparent-background mx-auto text-white" style="position:absolute; width:100%">
            <div class="max-w-screen-lg flex flex-wrap items-center justify-between mx-auto py-6 px-4 md:px-0 w-full transparent-background ">
                <a href="#" class="text-white flex items-center transparent-background space-x-3 rtl:space-x-reverse">
                    <img src="../static/images/logo.png" class="w-12" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap">Sakku Yiw</span>
                </a>
                <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden  focus:outline-none focus:ring-0 focus:ring-none " aria-controls="navbar-dropdown" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">  
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>  
                    </svg> 
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
                    <ul class="flex flex-col text-sm font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:!bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white ">
                        <li>
                            <a href="#" class="block py-2 px-3 text-white bg-secondary rounded md:bg-transparent md:hover:text-secondary md:p-0 " aria-current="page">À propos</a>
                        </li>
                        <li>
                            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 md:hover:text-secondary md:text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto ">
                                Projets 
                                <svg class="w-2.5 h-2.5 ms-2.5 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                                <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownLargeButton">
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-amber-300 ">Projet 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-amber-300 ">Projet 2</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-amber-300 ">Projet 3</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 md:text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-secondary md:p-0 ">Actualités</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 md:text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-secondary md:p-0 ">Équipe</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 md:text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-secondary md:p-0 ">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="hidden md:flex items-center text-sm ">
                    <a href="#" class="mr-4 border border-white rounded p-3 focus:ring-4 focus:ring-secondary hover:bg-secondary hover:border-secondary">Donnez Votre Zakat</a>
                    <a href="#" class="flex px-6 items-center border border-secondary bg-secondary rounded py-3 focus:ring-4 focus:ring-amber-600 hover:bg-amber-600 hover:border-amber-600">
                        <p>Faire un Don</p>
                        <svg class="h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
        <!-- FIn Nav-bar -->
    </header>
    <!-- Fin Header -->

    <div class="bg_url w-full" style="background-image: url('../static/images/force_partage.png');">
        <div class="mx-auto max-w-screen-lg text-white py-6">
            
            <h1 class="text-3xl font-semibold mt-36" >Ramadan 2021 - La Force du Partage</h1>
            <hr class="mt-2 w-11 bg-secondary h-0.5 rounded border-none">
            <p class="text-secondary text-sm mt-24"> 
                <a href="#">Accueil >> </a>
                <span class="text-white"> Projets</span>
            </p>
        </div>
    </div>

    <main class="pt-20 pb-16">
        <div class="mx-auto max-w-screen-lg w-full rounded-lg flex justify-end p-8" style="background-image: url('../static/images/joel.png'); height:500px;">
            <p class="bg-primary px-4 py-2 text-white rounded w-fit h-fit">Éducation</p>
        </div>

        <div class="mx-auto max-w-screen-lg px-40 -mt-20 ">
            <div class=" bg-white rounded-md p-8 drop-shadow-md">
                <h1 class="text-3xl font-semibold" >Ramadan 2021 - La Force du Partage</h1>
                <h1 class="text-3xl font-semibold mb-4" >Xème Édition</h1>
                <hr class="mt-2 w-11 mb-6 bg-secondary rounded border-none" style="height: 3px;">
                
                <div class="mb-6">
                    <h6 class=" font-semibold text-lg">Fauteuil Roulant</h6>
                    <div class="flex justify-center w-full ">
                        <span class="text-sm font-medium text-primary">0%</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 ">
                        <div class="bg-primary h-2.5 rounded-full" style="width: 2%"></div>
                    </div>
                    <div class="flex justify-between mt-1 items-center w-full">
                        <p class="text-sm">Financé : <span class="text-secondary font-bold">0 Fauteuil</span></p>
                        <p class="text-sm">Objectif : <span class="text-primary font-bold">140</span></p>
                    </div>
                </div>
                <hr class="mt-2 w-11 mb-6 bg-secondary rounded border-none" style="height: 3px;">

                <form action="">
                    <h6 class=" font-semibold text-lg mb-2">Financer des Fauteuils</h6>
                    <div class="flex items-center">
                        
                            <button class="text-sm mr-2 font-medium border rounded bg-secondary py-2.5 px-2 text-white hover:bg-amber-600">10€</button>
                            <button class="text-sm mr-2 font-medium border border-gray-300 rounded py-2.5 px-2 text-black hover:bg-amber-600">25€</button>
                            <button class="text-sm mr-2 font-medium border border-gray-300 rounded py-2.5 px-2 text-black hover:bg-amber-600">50€</button>
                            <button class="text-sm mr-2 font-medium border border-gray-300 rounded py-2.5 px-2 text-black hover:bg-amber-600">100€</button>
                            <button class="text-sm mr-2 font-medium border border-gray-300 rounded py-2.5 px-2 text-black hover:bg-amber-600">200€</button>
                            <button class="text-sm mr-2 font-medium border border-gray-300 rounded py-2.5 px-2 text-black hover:bg-amber-600">250€</button>
                        
                        <input type="number"  aria-describedby="helper-text-explanation" class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-secondary focus:border-secondary block p-2.5" placeholder="Inscrire une somme particuilère" required />
                    </div>
                    <h6 class=" font-semibold text-lg mb-2 mt-6">Informations Personnelles</h6>
                    <div class="flex justify-between">
                        <div class="w-full mr-6">
                            <label for="first_name" class="block mb-1 text-sm font-medium text-gray-800">Prénom<span class=" text-red-600">*</span></label>
                            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-secondary focus:border-secondary block w-full p-2.5" placeholder="Votre prénom" required />
                        </div>
                        <div class="w-full">
                            <label for="last_name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Nom<span class="text-red-600">*</span></label>
                            <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-md focus:ring-secondary focus:border-secondary block w-full p-2.5" placeholder="Votre nom" required />
                        </div>
                    </div>
                    <div class="mt-4">
                        <label for="email" class="block mb-1 text-sm font-medium text-gray-800">E-mail<span class="text-red-600">*</span></label>
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-secondary focus:border-secondary block w-full p-2.5" placeholder="Votre e-mail" required />
                    </div> 

                    <div class="flex justify-between items-center mt-7">
                        <button type="submit" class="flex text-white text-sm font-medium px-6 items-center border border-secondary bg-secondary rounded py-2.5 focus:ring-4 focus:ring-amber-600 hover:bg-amber-600 hover:border-amber-600">
                            <p>Faire un Don</p>
                            <svg class="h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                            </svg>
                        </button>
                        <p class="text-sm font-semibold">Donation Totale : <span class="text-secondary font-bold">30€</span></p>
                    </div>
                </form>

                
                
            </div>

            <div class="mt-12">
                <h6 class=" font-semibold text-xl">Projet En Detail</h6>
                <p class="text-gray-500 mt-2 mb-4 text-sm text-justify">
                    Tellus cras adipiscing enim eu turpis egestas pretium aenean. Gravida quis blandit turpis cursus in hac habitasse. Aliquet bibendum enim facilisis gravida neque convallis a cras. Tristique senectus et netus et malesuada fames. Velit scelerisque in dictum non consectetur a erat nam at. Scelerisque viverra mauris in aliquam sem fringilla. Hendrerit dolor magna eget est.
                </p>
                
                <div id="default-carousel" class="relative w-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-56 overflow-hidden md:h-60 flex flex-wrap justify-between gap-4">
                        <div class="hidden rounded-lg duration-700 ease-in-out  w-1/2"  data-carousel-item>
                            <img src="../static/images/f1.png" class="rounded-lg" style="width: 99%; padding:0px 1%;">
                        </div>
                        <div class="hidden rounded-lg duration-700 ease-in-out w-1/2"  data-carousel-item>
                            <img src="../static/images/f2.png" class="rounded-lg" style="width: 99%; padding:0px 1%;">
                        </div>
                        <div class="hidden rounded-lg duration-700 ease-in-out w-1/2" data-carousel-item>
                            <img src="../static/images/force1.jpg" class="rounded-lg" style="width: 99%; padding:0px 1%;">
                        </div>
                        <div class="hidden rounded-lg duration-700 ease-in-out w-1/2" data-carousel-item>
                            <img src="../static/images/force2.jpg" class="rounded-lg" style="width: 99%; padding:0px 1%;">
                        </div>
                        <div class="hidden rounded-lg duration-700 ease-in-out w-1/2" data-carousel-item>
                            <img src="../static/images/force3.jpg" class="rounded-lg" style="width: 99%; padding:0px 1%;">
                        </div>
                    </div>
                    <!-- Slider indicators
                    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                    </div> -->
                    <!-- Slider controls -->
                    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-secondary  group-focus:ring-0 group-focus:ring-none  group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-secondary group-focus:ring-0 group-focus:ring-none group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="mt-12 text-center mx-auto max-w-screen-lg">
            <h6 class=" font-semibold text-xl">Les Actions Réalisées</h6>
            <hr class="mt-2 mx-auto w-11 mb-6 bg-secondary rounded border-none" style="height: 3px;">
            
            <div class=" flex items-center justify-between mb-6">
                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force1.jpg" class=" h-24 w-40 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">22/06/2022  </span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Louga, Région de Kolda</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 1 : Distribution de 100 kits à Louga</p>
                        </a>
                    </div>
                </div>

                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force2.jpg" class=" h-24 w-40 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">03/07/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Bignona, Région de Diourbel</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 2 : Distribution de 75 kits à Bignona</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class=" flex items-center justify-between mb-6">
                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force3.jpg" class=" h-24 w-44 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">12/07/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Niakhar, Région de Tivaouane</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 3 : Distribution de 150 kits à Linguerre</p>
                        </a>
                    </div>
                </div>

                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force4.jpg" class=" h-24 w-40 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">27/08/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Kaolack, Région de Kolda</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 4 : Distribution de 80 kits à Kaolack</p>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class=" flex items-center justify-between mb-6">
                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force5.jpg" class=" h-24 w-40 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">22/06/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Louga, Région de Kolda</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 5 : Distribution de 100 kits à Louga</p>
                        </a>
                    </div>
                </div>

                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force6.jpg" class=" h-24 w-40 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">03/07/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Bignona, Région de Diourbel</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 6 : Distribution de 75 kits à Bignona</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class=" flex items-center justify-between mb-6">
                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force7.jpg" class=" h-24 w-44 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">22/06/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Louga, Région de Kolda</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 7 : Distribution de 150 kits à Linguerre</p>
                        </a>
                    </div>
                </div>

                <div class="flex rounded-md" style="width: 47%; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);">
                    <a href="#"><img src="../static/images/force8.jpg" class=" h-24 w-40 rounded-s-md" alt=""></a>
                    <div class="px-5 text-start">
                        <div class="flex items-center mt-3">
                            <div class="flex items-center mr-5">
                                <svg class="w-4 h-4 text-secondary mr-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-primary font-semibold text-xs">03/07/2022</span>
                            </div>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="text-gray-700 font-semibold text-xs">Bignona, Région de Diourbel</span>
                            </div>
                        </div>
                        <a href="#">
                            <p class=" text-black hover:text-secondary font-semibold mt-2 text-lg leading-6">Étape 8 : Distribution de 80 kits à Kaolack</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class=" mt-20 mx-auto max-w-screen-md">      

            <div id="default-carousel" class="relative w-full border-y border-gray-300 mb-12" data-carousel="static">
                <!-- Carousel wrapper -->
                <div class="relative h-16 overflow-hidden rounded-lg ">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out w-1/2" data-carousel-item>
                        <p class="absolute block w-full text-center -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 font-semibold px-5" >Création d’une Case de Santé au Village de Kolda</p>
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out w-1/2" data-carousel-item>
                        <p class="absolute block w-full text-center  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 font-semibold px-8" >Ramadan 2022 - 1443H : Force du Partage</p>
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out w-1/2" data-carousel-item>
                        <p class="absolute block w-full text-center  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 font-semibold px-5" >Création d’une Case de Santé au Village de Kolda</p>
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out w-1/2" data-carousel-item>
                        <p class="absolute block w-full text-center  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 font-semibold px-8" >Ramadan 2022 – 1443H : Force du Partage</p>
                    </div>
                    <!-- Item 5 -->
                    <div class="hidden duration-700 ease-in-out w-1/2" data-carousel-item>
                        <p class="absolute block w-full text-center  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 font-semibold px-5" >Création d’une Case de Santé au Village de Kolda</p>
                    </div>
                </div>
                
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 -start-10 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-secondary group-hover:text-white dark:group-hover:bg-gray-800/60 group-focus:ring-0 group-focus:ring-none dark:group-focus:ring-secondary group-focus:outline-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 -end-10 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-secondary dark:group-hover:bg-gray-800/60 group-focus:ring-0 group-focus:ring-none dark:group-focus:ring-secondary group-focus:outline-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

            <a href="#" class="mx-auto w-fit flex items-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded border border-gray-500 hover:bg-secondary hover:border-secondary hover:text-white focus:z-10 focus:ring-0 focus:ring-secondary">
                <span class="flex">
                    <span class="mr-2">Voir Tous Les Projets</span>
                    <svg class="w-5 h-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                </span>
            </a>
        </div>

    </main>
  
    <!-- Debut du Footer -->
    <footer class="w-full text-sm">
        <div class="mx-auto px-5 md:px-0 max-w-screen-lg block md:flex justify-between py-8 md:py-14">
            <div class="text-sm block mb-8 md:mb-0 md:hidden" >
                <h5 class=" mb-3 text-base font-semibold">Souscrire à notre Newsletter</h5>
                <p class="text-gray-500">Chaque mois, nous vous envoyons des actualités sur l’avancement de nos projets.</p>

                <form class="max-w-sm md:mx-auto flex mt-5">
                    <div class="relative mr-4">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                        </div>
                        <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-opacity-0 focus:ring-0 focus:border-secondary w-full ps-10 p-2.5" placeholder="Adresse e-mail...">
                    </div>
                    <button type="submit" class="bg-secondary text-white font-medium rounded-lg text-sm px-3 py-2 text-center hover:bg-amber-600 focus:ring focus:ring-secondary">
                        Soumettre
                    </button>
                </form>
            </div>

            <div class="w-full md:w-28% mb-8 md:mb-0">
               <div class="flex items-center text-black">
                    <img class=" w-8 mr-2" src="../static/images/logo.png" alt="">
                    <h2 class=" text-xl font-bold">Sakku Yiw</h2>
                </div> 
                <p class="text-gray-500 mt-2">Nous sommes une association à vocation sociale qui œuvre inlassablement dans un but non lucratif à soutenir, à favoriser l'entraide, la solidarité et la fraternité entre les populations.</p>
                <div class="flex items-center mt-4 text-secondary">
                    <a href="https://twitter.com/SAKKUYIW" target="_blank" class="mr-4">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/yiwsakku/" target="_blank" class="mr-4">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/sakkuyiw.actionpourlespoir" target="_blank" class="mr-4">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/user/SAKKUYIW" target="_blank">
                        <svg class="h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z" clip-rule="evenodd"/>
                        </svg>
                    </a>

                </div>
            </div>

            <div class="text-sm font-medium mb-8 md:mb-0">
                <h5 class=" mb-3 text-base font-semibold">Liens</h5>
                <a href="#"><p class="mb-1">Accueil</p></a>
                <a href="#" class="text-secondary flex items-center">
                    <p class=" w-6 border border-secondary border-b-2 mr-2"></p>
                    <p class="mb-1">Projets</p>
                </a>
                <a href="#"><p class="mb-1">Réalisations</p></a>
                <a href="#"><p class="mb-1">Notre équipe</p></a>
                <a href="#"><p class="mb-1">Actualité</p></a>
            </div>

            <div class="text-sm">
                <h5 class=" mb-3 text-base font-semibold">Contact</h5>

                <div class="flex items-center  mb-2">
                    <div class="bg-secondary mr-2 p-2 rounded-full">
                       <svg class="h-4 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                        </svg> 
                    </div>
                    <div>
                        <p class="font-semibold">Téléphone</p>
                        <p class="text-gray-500 text-sm">01 22 03 04 67</p>
                    </div>
                </div>

                <div class="flex items-center  mb-2">
                    <div class="bg-secondary mr-2 p-2 rounded-full">
                       <svg class="h-4 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                            <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                        </svg>
                    </div>
                    <div>
                        <p class="font-semibold">E-Mail</p>
                        <p class="text-gray-500">sakkuyiw@gmail.com</p>
                    </div>
                </div>

                <div class="flex items-center">
                    <div class="bg-secondary mr-2 rounded-full" style="padding: 8px 4px;">
                       <svg class="h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <div>
                        <p class="font-semibold">Localisation</p>
                        <p class="text-gray-500">Villiers-sur-Marne</p>
                    </div>
                </div>
                
            </div>

            <div class="text-sm md:w-28% hidden md:block" >
                <h5 class=" mb-3 text-base font-semibold">Souscrire à notre Newsletter</h5>
                <p class="text-gray-500">Chaque mois, nous vous envoyons des actualités sur l’avancement de nos projets.</p>

                <form class="max-w-sm mx-auto flex mt-5">
                    <div class="relative mr-4">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                        </div>
                        <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-opacity-0 focus:ring-0 focus:border-secondary w-full ps-10 p-2.5" placeholder="Adresse e-mail...">
                    </div>
                    <button type="submit" class="bg-secondary text-white font-medium rounded-lg text-sm px-3 py-2 text-center hover:bg-amber-600 focus:ring focus:ring-secondary">
                        Soumettre
                    </button>
                </form>
            </div>
        </div>

        <div class="w-full py-4 flex justify-center text-white bg-primary">
            <p>Sakku Yiw © 2022. Tout droits réservés.</p>
        </div>
    </footer>
    <!-- Fin du Footer -->
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>