@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}
.menu-transition {  
    transition: transform 0.3s ease;  
}  

.bg_url{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.transparent-background {  
    background-color: rgba(255, 255, 255, 0); /* Transparence totale */  
}
.text-green{
    color: #009368;
}
.bg-green{
    background-color: #009368;
}
.columun-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.he70{
    height: 100vh;
}
.f-right{
    float: right;
}
.flex-colm{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
@media (min-width: 768px) {  
    .mt--10 {  
       margin-top: -10%;
    }  
}
@media (min-width: 768px) {  
    .h60 {  
       height: 50vh;
    }  
}
@media (min-width: 768px) {  
    .h70 {  
       height: 70vh;
    }  
}
@media (min-width: 768px) {  
    .w33 {  
       width:33% ;
    }  

}
@media (min-width: 768px) {  
    .w28 {  
       width:30% ;
    }  

}
@media (min-width: 768px) {  
    .w49 {  
       width:33% ;
    }  

}

@media only screen and (max-width: 767px) {  
    .mt--30{
        margin-top: -40%;
    }
} 
@media only screen and (max-width: 767px) {  
    .h40{
        height: 40vh;
    }
} 
@media only screen and (max-width: 767px) {  
    .h50{
        height: 50vh;
    }
} 