@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    padding: 0px 0px;
    margin: 0px 0px;
}
.menu-transition {  
    transition: transform 0.3s ease;  
}  

.bg_url{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.transparent-background {  
    background-color: rgba(255, 255, 255, 0); /* Transparence totale */  
}
.text-green{
    color: #009368;
}
.bg-green{
    background-color: #009368;
}
.columun-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.he70{
    height: 100vh;
}
.f-right{
    float: right;
}
.flex-colm{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

@media (min-width: 768px) {  
    .mt--10 {  
       margin-top: -10%;
    } 
    .h80 {  
       height: 560px;
    } 
    .h60 {  
       height: 50vh;
    } 
    .h70 {  
       height: 70vh;
    } 
    
    .w33 {  
       width:33% ;
    }  
    .w28 {  
       width:30% ;
    }  
    .w49 {  
       width:33% ;
    }  
    .w47 {  
       width:47% ;
    }  
    .h-500px{
        height: 500px;
    }
    .pos-icon{
        top: -70px;
        left: 500px;
    }
    .pos-icon2{
        bottom: -70px;
        left: 100px;
    }
}


@media only screen and (max-width: 767px) {  
    .h64{
        height: 500px;
    }
    .h48{
        height: 48vh;
    }
    .h40{
        height: 40vh;
    }
    .mt--30{
        margin-top: -40%;
    }
    .h50 {  
       height: 50vh;
    } 
    .h-300px{
        height: 300px;
    }
    .pos-icon{
        top: -22px;
        left: 180px;
    }
    .pos-icon2{
        bottom: -30px;
        left: 25px;
    }
    
}
